.card-container {
  max-width: 80rem;
  margin: auto;
  display: grid;
  gap: 1.2rem;
}

.heading {
  color: #212529;
  font-weight: 400;
  font-size: 2.074rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-heading {
  border: 1px solid;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.note-title {
  font-size: 2.074rem;
  font-weight: 500;
  border-bottom: 1px solid #868e96;
  margin-bottom: 0.75rem;
  color: #212529;
  text-transform: capitalize;
}

.note-date {
  color: #868e96;
}

.note-body {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #343a40;
}

.btn-group {
  display: flex;
  align-self: flex-end;
  gap: 0.5rem;
  margin-top: 4px;
}

.btn {
  padding: 8px 16px;
  cursor: pointer;
  background: none;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

.btn-delete {
  background-color: #f03e3e;
}

.btn-archive {
  background-color: #f59f00;
}
