.form-container {
  max-width: 37.5rem;
  margin: 6.25rem auto;
}

.form-heading {
  font-weight: 400;
  font-size: 1.728rem;
  margin-bottom: 2.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title-input {
  padding: 0.375rem 1.5rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1px solid #868e96;
  outline: none;
}

.notes {
  width: 100%;
  height: 13.75rem;
  padding: 1rem 1.5rem;
  outline: none;
}

.btn-create {
  padding: 0.5rem;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid #495057;
}

.title-input,
.notes,
.btn-create {
  border-radius: 0.5rem;
}
